
.card-grid {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2%;
    width: 50%;
    gap: 10% 10%;
}

.mainCARD {
    position: absolute;
    left: 65%;
    top: 25vh;

    zoom: 0.65;
}

.mainCARD img {
    display: block;
    border: 2px solid;
    border-radius: 10px;

    width: 80%;
    height: 10%;
}

.mainBack1 {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}


.mainBack2 {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}