.card {
    position: relative;
    zoom: 0.4;
}

.card img {
    display: block;
    border: 2px solid;
    border-radius: 1rem;
    
}

.back {
    width: 95%;
    height: 100%;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.front {
    height: 100%;
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition: 0.2s;
    
}